/* 로그인 페이지 추가 css 시작 -------------------------------------------- */

.padding-none{
    padding: 0;
  }
  
  .login-logo, .signUp-logo{
    text-align: center;
    padding-bottom: 5%;
    font-size: 30px;
    font-weight: bolder;
  }
  
  
  #contactForm{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .control-group{
    width: 30%;
    padding-bottom: 3%;
  }
  
  .form-control{
    width: 100%;
  }
  
  .login-email{
    text-align: left;
  }
  
  .form-control{
    text-align: center;
  }
  
  .btn-div{
    width: 30%;
    padding-bottom: 1%;
  }
  
  .login-button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }
  
  .login-signup{
    display: flex;
    width: 30%;
    padding-bottom: 3%;
    justify-content: space-evenly;
  }
  
  .login-api{
    display: flex; 
    justify-content:space-around;
    width: 30%;
    height: 50px;
    text-align: center;
    border: 1px solid #bee5eb;
    margin-bottom: 1%;
    border-radius: 10px;
  }
  
  .login-api-logo{
    margin-left: 100px;
    width: 10%;
    height: 80%;
  }
  
  .login-api-text{
    line-height: 50px;
  }
  
  /* 로그인 페이지 추가 css 종료 -------------------------------------------- */
  
  /* 회원가입 페이지 추가 css 시작 -------------------------------------------- */
  .term-div{
    display: inline-block;
    margin-bottom: 1%;
  }
  
  .term-icon{
    width: 10px;
  }
  
  /* 회원가입 페이지 추가 css 종료 -------------------------------------------- */
  
  /* BEST 페이지 추가 css 시작 -------------------------------------------- */
  .tab-div{
    display: flex;
    justify-content: center;
  }
  
  .best-row{
    display: flex;
    justify-content: space-around;
  }
  
  .best-tap{
    display: flex;
    width: 30%;
    padding-bottom: 3%;
    justify-content: space-between;
    margin-right: 0%;
  }
  
  .best-tap-button{
    border: none;
    width: 100px;
    height: 150%;
  }
  
  .best-tap-button:active{
    border: none;
    width: 100px;
    height: 150%;
    background-color: black;
    color: white;
  }
  
  .best-top3{
    text-align: center;
  }
  
  .best-top3-text{
    font-size: 20px;
    font-weight: 1000;
  }
  
  /* BEST 페이지 추가 css 종료 -------------------------------------------- */
  
  /* 고객센터 페이지 추가 css 종료 -------------------------------------------- */
  
  .service-tap-btn{
    display: flex;
    width: 30%;
    padding-bottom: 3%;
    justify-content: space-between;
    margin-right: 0%;
  }
  
  .service-tap-button{
    border: none;
    width: 15em;
    height: 2.5em;
    background-color: black;
    color: white
  }
  
  
  /* 고객센터 페이지 ( 게시판 ) 추가 css 시작 -------------------------------------------- */
  
  .board-search-div{
    display: flex;
    justify-content: flex-end;
  }
  
  .board-input-div{
    display: flex;
    justify-content: flex-end;
  }
  
  .board-write-btn{
    border-radius: 5px;
  }
  
  /* 고객센터 페이지 ( 게시판 ) 추가 css 종료 -------------------------------------------- */
  
  /* 고객센터 페이지 ( 게시글 ) 추가 css 시작 -------------------------------------------- */
  
  #article{
    margin-bottom: 20px;
      background: #fff;
      box-sizing: border-box;
      border-top: 2px solid #000;
      margin-top: 30px;
  }
  
  #ar-title{
    padding: 20px 0px;
  }
  
  #ar-info{
    padding: 10px 0 15px;
    border-bottom: 1px solid #ddd;
    color: #666;
  }
  
  .ar-date, .ans-date{
    float: right;
    margin: 0;
    color: #888;
  }
  
  .ar-main-text{
    margin: 30px 0 30px;
    width: 100%;
    line-height: 1.7em;
    min-height: 200px;
    word-break: break-all;
    overflow: hidden;
    font-size: 1.3em;
  }
  
  .answer-box{
    padding: 10px 0 15px;
    border-top: 1px solid #ddd;
    color: #666;
  }
  
  .ans-text{
    display: inline-block;
  }
  
  .ans-btns > ul{
    padding: 0;
      list-style: none;
      word-break: break-all;
  }
  
  .ans-edit{
    float: right;
  }
  
  .ans-com-btn-ul{
      margin: 20px 0;
      float: left;
  }
  
  .ans-com-btn-ul li{
    float: left;
  }
  
  .ans-list-ul{
    margin: 20px 0;
    float: right;
  }
  
  /* 고객센터 페이지 ( 게시글 ) 추가 css 종료 ----------------------------------- */
  
  /* 고객센터 페이지 ( 회원 혜택 안내 ) 추가 css 시작 ----------------------------------- */
  
  .grade-standard-div{
    display: flex;
    justify-content: space-evenly;
  }
  
  .grade-standard-div > div {
    display: flex;
    flex-direction: column;
    
    width: 200px;
    align-items: center;
  }
  
  .newbie-title, .member-title, .vip-title, .influencer-title{
    width: 60%;
    text-align: center;
    display: inline-block;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    
  }
  .newbie-title{
    box-shadow:0 0 8px 0 darkgray;
    border-color:darkgray;
  }
  
  .member-title{
    box-shadow:0 0 8px 0 turquoise;
    border-color:turquoise;
  }
  
  .vip-title{
    box-shadow:0 0 8px 0 dodgerblue;
    border-color:dodgerblue;
  }
  
  .influencer-title{
    box-shadow:0 0 8px 0 mediumpurple;
    border-color:mediumpurple;
  }
  
  /* 고객센터 페이지 ( 회원 혜택 안내 ) 추가 css 시작 ------------------------------- */
  
  /* 마이 페이지 추가 css 시작 ----------------------------------------------------- */
  
  .mypage-top{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
  }
  
  .mypage-topline{
    border: 1px solid black;
    margin-bottom: 2%;
  }
  
  .mypage-top-menu{
    display: inline-block;
   
  }
  
  .mypage-logo-div{
    display: inline-block;
  }
  
  .mypage-logo{
    width: 10%;
  }
  
  .mypage-basic{
    display: flex;
    flex-direction: column;
  }
  
  .mypage-hello{
    display: inline-block;
    margin-bottom: 5%;
  }
  
  .mypage-edit-btns{
    display: inline-block;
  }
  
  .mypage-top-vertical{
    border-left : 1px solid black;
   
  }
  
  .mypage-order-product-td{
    display: flex;
  }
  
  .mypage-order-product-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mypage-order-product-option{
    font-size: small;
    color: grey;
  }
  
  .mypage-coupon-count, .mypage-point-count{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mypage-recent-btns{
    display: flex;
    justify-content: flex-end;
  }
  
  .mypage-refund-btn{
    margin-left: 1%;
  }
  
  /* 마이 페이지 추가 css 종료 ----------------------------------------------------- */
  
  /* 고객센터 페이지 ( 회원 혜택 안내 ) 추가 css 시작 ------------------------------- */
  
  .profile-subtitle{
    font-weight: bold;
    margin-bottom: 5%;
  }
  
  .profile-control-group{
    width: 50%;
    padding-bottom: 1%;
  }
  
  .profile-form-control{
    display: inline-block;
    width: 80%
  }
  
  .profile-edit-body{
    width: 1000px;
    
  }
  
  /* 프로필 수정 추가 css 종료 ---------------------------------------------------*/
  
  /* 리뷰 작성 추가 css 시작 ---------------------------------------------------- */
  
  #main_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: max-content;
    margin: auto;
    border: 1px solid #e6e6e6;
  }
  
  #imageCanvas{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
  }
  
  #img_id{
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .post_form_container{
    max-width: 550px;
    margin: 0 auto;
  }
  
  
  .post_form{
    padding: 40px;
    background-color: #fff;
    /* border: 1px solid #e6e6e6; */
    margin: 0 0 10px;
  }
  
  .post_form .title{
    margin: 0 10px 40px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
  
  
  .post_form .preview{
    margin-bottom: 30px;
  }
  
  .post_form .preview .upload{
    max-width: 300px;
    height: 300px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .plus_icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 10px;
    border: 1px solid dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .plus_icon span{
    position: absolute;
    display: block;
    width: 2px;
    height: 30px;
    background: dodgerblue;
  
  }
  
  .plus_icon span:nth-child(2){
    transform:rotate(90deg);
  }
  
  .post_form p{
    margin-bottom: 1px;
  }
  
  .post_form input[type=file]{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
  }
  
  
  .post_form textarea{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
  }
  
  
  
  .submit_btn {
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    width: 30%;
    padding: 0;
    margin-bottom: 30px;
  }
  
  .post-bodysize{
    display: flex;
    flex-direction: column;
  }
  
  
  .post-height, .post-weight{
    position: relative;
    
  }
  
  #post-height-id{
    margin-left: 18.6%;
  }
  
  #post-weight-id{
    margin-left: 10%;
  }
  
  .post-form-control{
    width: 70%;
    margin-bottom: 10px;
  }
  
  /* 리뷰 작성 추가 css 종료 ---------------------------------------------------- */
  
  /* 고객센터 (게시글 글쓰기) css 시작 ---------------------------------------------------- */
  
  .ser-write-main{
    display: flex;
    justify-content: center;
  }
  
  .service-write-selectbox-div{
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  
  .service-write-selectbox-title{
    width: 100px;
    border: 1px solid black;
    text-align: center;
  }
  
  .service-write-selectbox{
    width: 800px;
    margin-left: 10px;
    
  }
  
  .service-write-title-div{
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  
  .service-write-title{
    width: 100px;
    border: 1px solid black;
    text-align: center;
  }
  
  .service-write-title-input{
    width: 800px;
    margin-left: 10px;
  }
  
  .service-write-content-div{
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  
  .service-write-content{
    width: 1000px; 
    height: 300px;
  }
  
  .service-write-btns-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .service-write-btns-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 1%;
    
  }
  .service-write-btns-ul > li:nth-child(2){
    margin-left: 2%;
    
  }
  
  /* 고객센터 (게시글 글쓰기) css 종료 -----------------------------------------------*/
  
  /* 카테고리 (이벤트) css 시작 -----------------------------------------------*/
  
  /* .event-btns-div{
    display: flex;
    
    flex-wrap: wrap;
  }
  
  .event-btn-div{
    display: flex;
    width: 35%;
    height: 100px;
    margin-left: 10%;
    margin-top: 3%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .event1{
    background-color: coral;
    color: white
  }
  
  .event2{
    background-color: coral;
    color: white
  }
  
  .event3{
    background-color: coral;
    color: white
  }
  
  .event4{
    background-color: coral;
    color: white
  }
  
  .event5{
    background-color: coral;
    color: white
  }
  
  .event6{
    background-color: coral;
    color: white
  }
  
  .event-btn-content{
      font-size: 27px;
      font-weight: bold;
  } */